//doctype html
html
    head 
        
        style
            include ../static/style.css
    body
        nav#navber 
                ul 
                 
                    li #[a(href="/") Home]
                    li #[a(href="/about") About]
                    li #[a(href="/")  Service]
                    li #[a(href="/") Class Info]
                    li #[a(href="/contactEmail") Contact Us]
                    li #[a(href="/contact1") Login]
        section#introsection 
            .class 
                
                img(src='/static/mizan.jpg', alt="Error")
                h3 Mizanur Rahman
                h3 Programmer
            div.container
                h1 About Me
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsam nemo expedita ex nostrum delectus, voluptates vero culpa totam possimus at consequatur! Nemo error est reprehenderit facere dolorem at maxime reiciendis, omnis quisquam, illo ratione veniam veritatis, voluptatibus quia doloremque! Repellat consectetur at voluptas maiores nesciunt ab dolore atque facere hic iste quidem labore perferendis rerum rem veniam, voluptate et officia vel? Nobis obcaecati repudiandae consectetur aperiam porro odit sunt necessitatibus molestias officiis ad soluta magnam voluptatem, quidem accusantium illo nesciunt corrupti? Suscipit ipsum quis, quasi beatae quam totam, libero earum fugit iusto velit tenetur aliquam quisquam veniam. Commodi, harum quibusdam delectus vel ex saepe! Libero, omnis consequuntur? Hic, dolor nobis adipisci quae porro iste magnam. Cum quae quo voluptatum, incidunt commodi labore asperiores. Voluptate deleniti doloremque, eligendi aperiam, libero ut suscipit id sequi deserunt, est distinctio illum! Odit amet, rerum excepturi facere eum totam quia alias pariatur culpa ea accusantium voluptatibus quas repudiandae cupiditate assumenda, magnam sapiente sequi? Hic similique exercitationem optio fugiat necessitatibus officiis quibusdam velit dolore molestiae, maiores corporis eveniet illo, illum nihil facere quod cumque labore iusto minus doloremque dolores veniam. Tempora quam voluptatum nostrum modi, corrupti consectetur repellat dolorem minima, ex saepe praesentium possimus autem.
                
           
        //- section#sportsection 
        //-     h3  Our Sports 
        section#footer 
            //- | our footer here

            script(src='../static/index.js')

