* {
    background-color: aqua;
}

#navber li {
    /* display: inline-block; */
    margin: 10px;
    padding: 10px;
    /* border: 2px solid red; */
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

a:hover {
    color: red;
    /* background-color: red; */
}

a {
    text-decoration: none;
    list-style-type: none;
    /* border: 2px solid black; */
}

.cls {
    margin: 10px;
    /* border: 3px solid black; */
}

.cls h2 {
    text-align: center;


}

#footer {
    position: relative;
    color: rgb(161, 51, 51);
    background-color: aqua;
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    margin: 30px;
    border-radius: 25px;
    bottom: 5px;
}